<nav class="app-navigation flex-end">
  <a routerLink="" class="mx-1" [matTooltip]="(isHandset$ | async) ? '' : 'Home'">
    <button mat-icon-button>
      <mat-icon class="text-color-accent">home</mat-icon>
    </button>
  </a>
  <a
    href="https://github.com/Mike-Mountain/md-tech-check"
    target="_blank"
    class="mx-1"
    [matTooltip]="(isHandset$ | async) ? '' : 'Github'"
  >
    <button mat-icon-button>
      <mat-icon class="text-color-accent">code</mat-icon>
    </button>
  </a>
  <a routerLink="/create" class="mx-1" [matTooltip]="(isHandset$ | async) ? '' : 'Add Post'">
    <button mat-mini-fab>
      <mat-icon>add</mat-icon>
    </button>
  </a>
</nav>
