.blog-post {
  position: relative;
  height: 100%;
  padding: 1.5rem 0 0 0 !important
}

.post-header-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -2;
  object-fit: cover;
  object-position: 50% 50%;
}

.post-title {
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  width: 100%;
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  transform: scale(1);
  border-radius: 50%;
  color: var(--background);
}

.post-body {
  max-height: 22rem;
  overflow-y: auto;
}

.view-image {
  position: absolute;
  top: 85%;
  left: .75rem;
  text-decoration: underline;
  color: white;
}

@media (max-width: 900px) {
  .view-image {
    top: 87%
  }
}
