<section class="blog-post">
  <ng-container *ngIf="selectedPost$ | async as post">
    @if (post) {
    <!--// TODO: Get multiple versions of each image optimized for different screen sizes-->
      <img class="post-header-image" alt="" [src]="'images/' + post.image">
      <mat-card class="w-95 mx-auto transparent-bg">
        <mat-card-content>
          <div class="post-header flex-center flex-column">
            @if (isEditing && controls) {
              <mat-form-field class="w-100">
                <mat-label>Title</mat-label>
                <input
                  matInput
                  [formControl]="controls.title"
                >
              </mat-form-field>
            } @else {
              <h5 class="post-title text-shadow">{{ post.title }}</h5>
            }
            <p class="text-center m-0">By {{ post.username }}</p>
            <mat-icon class="profile-pic mb-2 text-shadow">account_circle</mat-icon>
            <hr class="w-75 mx-ato">
          </div>
          <div class="post-body mt-3">
            @if (isEditing && controls) {
              <mat-form-field class="w-100">
                <mat-label>Body</mat-label>
                <textarea
                  matInput
                  [formControl]="controls.body"
                  rows="4"
                ></textarea>
              </mat-form-field>
            } @else {
              <p class="text-center" [innerHTML]="post.body"></p>
            }
          </div>
        </mat-card-content>
      </mat-card>
      <div class="w-100 flex-around">
        @if (isEditing) {
          <button mat-raised-button class="w-45 mx-auto mt-4" (click)="isEditing = false">Cancel</button>
          <button mat-raised-button class="w-45 mx-auto mt-4" (click)="updatePost(post)">Save</button>
        } @else {
          <button mat-raised-button class="w-45 mx-auto mt-4" (click)="openConfirmDialog(post.id)">Delete Post</button>
          <button mat-raised-button class="w-45 mx-auto mt-4" (click)="setIsEditing(post)">Edit Post</button>
        }
      </div>
    } @else {
      <h1 class="text-center w-100">Please select a blog post from the side menu</h1>
    }
    <button class="invisible-button view-image text-shadow invisible-button" (click)="openImageDialog(post.image)">View Image</button>
  </ng-container>
</section>
