<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="bg-color-primary">Blog Posts</mat-toolbar>
    <app-blog-navigation
      [isHandset]="isHandset$ | async"
      (closeSidebar)="drawer.close()"
    ></app-blog-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="text-color-primary">menu</mat-icon>
        </button>
      }
      <h5 class="text-color-primary">md-tech-check</h5>
      <app-navigation></app-navigation>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
