.app-layout {
  width: 100%;
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'top-menu top-menu'
    'sidebar content';
}

.menu-bar {
  grid-area: top-menu;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

@media (max-width: 900px) {
  .app-layout {
    position: relative;
    grid-template-rows: 3.5rem 1fr;
    grid-template-columns: 0 3fr;
    grid-template-areas:
      'top-menu top-menu'
      'content';
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 5;
  }
}
