<figure class="info-dialog">
  <div class="content">
    @if (data.body) {
      <h6 class="text-center">{{ data.body }}</h6>
    } @else if (data.image) {
      <img class="full-size-image" alt="" [src]="data.image">
      <div class="w-100 flex-center mb-1">
        <small>{{ data.image }}</small>
      </div>
    }
    @if (data.buttons) {
      <div class="w-100 flex-around mt-4">
        <button mat-raised-button class="w-40" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button class="w-40" [mat-dialog-close]="true">Confirm</button>
      </div>
    }
  </div>
</figure>
